
/*TEXTO*/

.texto-portada{
    line-height: 1;
    font-weight: 800;
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
}

.subtexto-portada{
    line-height: 1;
}

.texto-portada-var{
    color:var(--secondary-color);
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
}

.texto-menu{
    margin-top: 10vh;
}

.texto-menu-link{
    line-height: 1;
    text-align: right;
}

.texto-menu-contacto{
    font-size: 1.5em;
}


.texto-titulos span{
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    color: var(--bg-color);
}

/*CARD WORK*/

.card-work{
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

/*.card-work:hover{
    box-shadow: -9px 10px 0px 0px rgba(0,0,0,1);
}*/

.card-work.expanded{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 3px;
}

.card-work.expanded .card-titulo{
    color: var(--bg-color);
    text-shadow: -2px 2px 0px var(--primary-color);
}

.card-boton{
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color: var(--bg-color);
}

.card-work.expanded .card-boton{
    border-color: var(--primary-color);
}

.card-work .card-texto{
    font-size: 1.5em;
    text-align: center;
}

.card-work.expanded .card-texto{
    font-size: 1.5em;
    text-align: justify;
}

.card-titulo{
    text-align: center;
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
    text-shadow: -2px 2px 0px var(--primary-color);
}

.card-tag{    
    border-radius: 15px;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

/*CARD MYSELF*/

.card-myself{
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    color: var(--primary-color);
    background-image: radial-gradient(
        circle at center,
        var(--secondary-color) 2px,
        transparent 0
        );
    background-size: 8px 8px;
    background-repeat: round;
}

.card-myself .card-body{
    background: var(--bg-color);
}

.timeline-linea {
    stroke: var(--secondary-color); 
    stroke-width:3
}

.timeline-circle{
    stroke: var(--secondary-color);
    fill: var(--secondary-color)
}


/*BANNER*/

.bn-par{
    color: var(--secondary-color);
    font-size: 5svw;
}

.bn-inpar{
    color: var(--bg-color);
    -webkit-text-stroke-color: var(--secondary-color);
    -webkit-text-stroke-width: 1px;
    font-size: 5svw;
}

/*PORTADA*/

.portada{
    background-color: var(--secondary-color);
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--primary-color);
}

.bg-gradiente{
    background: rgb(240,240,231);
    background: radial-gradient(circle, rgba(240,240,231,1) 55%, rgba(0,0,0,0) 100%);
}

.boton-portada{
    background-color: var(--secondary-color);
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--primary-color);
    padding:2px 15px;
    transform: rotate(-10deg);
}

/* Navbar */

.navbar-titulo{
    background-color: var(--bg-color);
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--primary-color);
    padding:2px 15px;
    display:flex;
    /*transform: translate(2px,-2px);*/
    box-shadow:  -2px 2px 0px 0px rgba(0,0,0,1);
}

.navbar-button{
    padding: 2px 15px;
    font-size: 1.5em;
    background-color: var(--bg-color);
    transform: rotate(0deg);
}

.navbar-bottom{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(240,240,231,1) 20%);
}

/*Knownledge*/

.word{
    color: var(--bg-color);
    -webkit-text-stroke-color: var(--secondary-color);
    -webkit-text-stroke-width: 1px;
}

.word-resalta{
    color: var(--secondary-color);
    cursor: pointer;
    text-shadow: -2px 2px 0px var(--primary-color);
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
}

.word-resalta-peq{
    color: var(--secondary-color);
    cursor: pointer;
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 1px;
}

.filas-texto{
    font-size: 80px;
    overflow: hidden;
    /*line-height: 1.35em;*/
}

.filas-texto p{
    white-space:nowrap;
    width: 120svw;
}

.known-titulo{
    font-size: 70px;
    color:var(--secondary-color);
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
}

.known-texto{
    font-size: 25px;
    color:var(--primary-color);
    text-align: justify;
}

.known-boton{
    padding: 2px 15px;
    font-size: 25px;
    background-color: var(--bg-color);
    border-width: 3px;
    border-radius: 15px;
    border-color: var(--primary-color);
}

